{%extends 'base.html'%}
{% block content %}
<div class="content-container">
  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>{% block title %}Sobre mim{% endblock %}</h1>
    Olá, meu nome é Ariel Fernandes, sou estudando de Engenharia mecatrônica, uma pessoa motivada pelo conhecimento, gosto de estar sempre aprendendo,
    sempre ajudando e tendo um crescimento pessoal com isso.
    <p>Buscando ser útil com meus
      colegas e local de desenvolvimento.</p>
    <!--p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs
      &raquo;</a>
      </p!-->
  </div>
</div>
{% endblock %}
